*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
/2012-11-15-MonoGame3_0/*.suo
/2012-11-15-MonoGame3_0/*.suo
/2012-11-15-MonoGame3_0/*.suo
/2012-11-15-MonoGame3_0/ChaseCamera/*.user
/2012-11-15-MonoGame3_0/ChaseCamera/*.cachefile
/2012-11-15-MonoGame3_0/ChaseCamera/*.cachefile
